# Puerto del servidor FastAPI
PORT=8000

# Rutas locales predeterminadas
MODEL_PATH=models/cvd_xgb_model.json
DATASET_PATH=data/Hipertension_Arterial_Mexico (1).csv

# Credenciales de Supabase (Requerido para fases posteriores de autenticación y BD)
SUPABASE_URL=https://tu-proyecto-supabase.supabase.co
SUPABASE_KEY=tu-anon-key-de-supabase
